<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="PersonalPlanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="MemoScheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="WorkCalendar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<userSettings>
		<PersonalPlanner.Properties.Settings>
   <setting name="SkinName" serializeAs="String">
    <value />
   </setting>
   <setting name="Palette" serializeAs="String">
    <value />
   </setting>
   <setting name="MemoFilePath" serializeAs="String">
    <value />
   </setting>
   <setting name="CalendarFilePath" serializeAs="String">
    <value />
   </setting>
   <setting name="OfficeStart" serializeAs="String">
    <value>08:00:00</value>
   </setting>
   <setting name="OfficeEnd" serializeAs="String">
    <value>17:00:00</value>
   </setting>
   <setting name="SchedulerViewType" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DayViewWorktimeShow" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WorkweekViewWorktimeShow" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FullweekViewWorktimeShow" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MainFrameLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MemoFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="GanttFormLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainFrameSize" serializeAs="String">
    <value>1280, 960</value>
   </setting>
   <setting name="MemoFormSize" serializeAs="String">
    <value>640, 480</value>
   </setting>
   <setting name="GanttFormSize" serializeAs="String">
    <value>800, 600</value>
   </setting>
   <setting name="MemoFormShowOnStartUp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GanttFormShowOnStartUp" serializeAs="String">
    <value>False</value>
   </setting>
  </PersonalPlanner.Properties.Settings>
		<MemoScheduler.Properties.Settings>
			<setting name="SkinName" serializeAs="String">
				<value />
			</setting>
			<setting name="Palette" serializeAs="String">
				<value />
			</setting>
			<setting name="MemoFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="CalendarFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="OfficeStart" serializeAs="String">
				<value>08:00:00</value>
			</setting>
			<setting name="OfficeEnd" serializeAs="String">
				<value>17:00:00</value>
			</setting>
			<setting name="SchedulerViewType" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="DayViewWorktimeShow" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="WorkweekViewWorktimeShow" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="FullweekViewWorktimeShow" serializeAs="String">
				<value>False</value>
			</setting>
		</MemoScheduler.Properties.Settings>
		<WorkCalendar.Properties.Settings>
			<setting name="SkinName" serializeAs="String">
				<value />
			</setting>
			<setting name="Palette" serializeAs="String">
				<value />
			</setting>
			<setting name="MemoFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="CalendarFilePath" serializeAs="String">
				<value />
			</setting>
			<setting name="OfficeStart" serializeAs="String">
				<value>08:00:00</value>
			</setting>
			<setting name="OfficeEnd" serializeAs="String">
				<value>17:00:00</value>
			</setting>
		</WorkCalendar.Properties.Settings>
	</userSettings>
</configuration>